template(name='updateWorkspace')
  .row
    .seven.columns.offset-by-two
      form#update-workspace-form
        with workspace
          h1 {{i18n 'updateWorkspace'}}
          label(for='name') {{i18n 'name'}}
          input#name.u-full-width(type='text' placeholder="{{i18n 'name'}}" value='{{name}}' autofocus='true')
          label(for='description') {{i18n 'description'}}
          textarea#description.u-full-width(placeholder="{{i18n 'description'}}" rows='20') {{description}}
          input.button-primary(type='submit', value="{{i18n 'save'}}")
          a.button.u-pull-right(href="{{pathFor 'workspaces'}}") {{i18n 'cancel'}}
