template(name='workspace')
  form#add-thing-form
    textarea#body.autosize.mousetrap.u-full-width(placeholder="{{i18n 'enterText'}}" autofocus='true' rows='1')
    input.button-primary.u-full-width.hidden-on-desktop(type='submit' value="{{i18n 'save'}}")
