template(name='workspace')
  .row
    .twelve.columns
      form#add-thing-form
        textarea#body.autosize.mousetrap.u-full-width(placeholder="{{i18n 'enterText'}}" autofocus='true' rows='1')
        input.button-primary.u-full-width.hidden-on-desktop(type='submit' value="{{i18n 'save'}}")
  if tags.count
    .tags
      each tags
        .checkbox
          label
            input(type='checkbox' name='tags' value='{{_id}}')
            span.label-body {{name}}
      .u-cf
  if things.count
    .things
      each things
        .row
          .twelve.columns
            .thing
              header.details
                if isArchived
                  span.archived {{i18n 'archived'}}
                  span.dot-divider ·
                span {{updatedAt this}}
                span.dot-divider ·
                span {{author.username}}
                span.u-pull-right
                  unless isArchived
                    a.archive-thing(href='#')
                      i.fa.fa-archive
                  else
                    a.unarchive-thing(href='#')
                      i.fa.fa-reply
                  a.remove-thing(href='#')
                    i.fa.fa-trash
              .body(contenteditable) {{simpleFormat body}}
