template(name='workspace')
  .row
    .twelve.columns
      form#add-thing-form
        textarea#body.autosize.mousetrap.u-full-width(placeholder="{{i18n 'enterText'}}" autofocus='true' rows='1')
        input.button-primary.u-full-width.hidden-on-desktop(type='submit' value="{{i18n 'save'}}")
  if tags.count
    .tags
      each tags
        .checkbox
          label
            input(type='checkbox' name='tags' value='{{_id}}')
            span.label-body {{name}}
      .u-cf
  if things.count
    .things
      each things
        .row
          .twelve.columns
            .thing
              header.details
                span {{createdAt this}}
                span.dot-divider ·
                span {{author.username}}
                span.u-pull-right
                  a(href='#')
                    i.fa.fa-archive
                  a(href='#')
                    i.fa.fa-trash
              |{{simpleFormat body}}
