template(name='newPassword')
  .row
    .four.columns.offset-by-four
      form#new-password-form
        h1 {{i18n 'newPassword'}}
        label(for='password') {{i18n 'password'}}
        input#password.u-full-width(type='password' placeholder="{{i18n 'password'}}" autofocus='true')
        input.button-primary.u-full-width(type='submit' value="{{i18n 'save'}}")
        a#cancel.button.u-full-width {{i18n 'cancel'}}
