template(name='resetPassword')
  .row
    .four.columns.offset-by-four
      form#reset-password-form
        h1 {{i18n 'resetPassword'}}
        label(for='email') {{i18n 'email'}}
        input#email.u-full-width(type='email' placeholder="{{i18n 'email'}}" autofocus='true')
        input.button-primary.u-full-width(type='submit', value="{{i18n 'resetPassword'}}")
        a.button.u-full-width(href='/') {{i18n 'cancel'}}
