template(name='loading')
  .row
    .twelve.columns
      #loading-animation
        |{{> spinner}}
  script(type='text/javascript').
    // show spinner only on slow data-Exchanges
    var divWithSpinner = document.getElementById('loading-animation');
    divWithSpinner.style.display = 'none';
    var showSpinner = function () {
      divWithSpinner.style.display = 'block';
    };
    window.setTimeout('showSpinner()', 1000);
