template(name='navbar')
  nav.navbar
    .container
      ul
        li
          a(href='/') James
        if currentUser
          li
            a(href="{{pathFor 'workspaces'}}")
              i.fa.fa-home.fa-lg
          li.u-pull-right
            a(href="{{pathFor 'signOut'}}")
              i.fa.fa-power-off.fa-lg
